<app-header></app-header>
<div class="container">
  <div class="page">
    <app-leftmenu></app-leftmenu>
    <div class="user">
      <div class="card">
        <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" alt="image">
        <div>
          <span class="header">Full Name</span>
          <span>Name</span>
        </div>
        <div>
          <span class="header">Email Address</span>
          <span>email@gmail.com</span>
        </div>
        <div>
          <span class="header">Gender</span>
          <span>Gender</span>
        </div>
        <div>
          <span class="header">Age</span>
          <span>Age</span>
        </div>
      </div>
    </div>
  </div>
</div>
