<nav class="left">
  <div class="left-nav">
    <a class="nav__item nav-link" routerLink="/">Dashboard</a>
    <a class="nav__item nav-link" routerLink="/incomingenquaries">Incoming Enquaries</a>
    <a class="nav__item nav-link" routerLink="/outgoingenquaries">Outgoing Enquaries</a>
    <a class="nav__item nav-link" routerLink="/products">Products</a>
    <a class="nav__item nav-link" routerLink="/myrequests">MyRequest</a>
    <a class="nav__item nav-link" routerLink="/profile">Profile</a>
    <a class="nav__item nav-link" routerLink="/orderhistory">Order History</a>
    <a class="nav__item nav-link" routerLink="/settings">Settings</a>

  </div>
</nav>
